@import "../../assets/layout.scss";
@import "../../../node_modules/taro-ui/dist/style/components/load-more.scss";
@import "../../../node_modules/taro-ui/dist/style/components/activity-indicator.scss";
@import "../../../node_modules/taro-ui/dist/style/components/button.scss";

.todo {
  .weather-tips {
    font-size: 28rpx;
    width: 100%;
    height: 40rpx;
    line-height: 40rpx;
    text-align: right;
    color: $字体辅助色;
  }

  .no-todo-item {
  }

  .todo-item {
  }
}

.switch {
  height: 40rpx;
}
