{
	"miniprogramRoot": "client/dist/",
	"cloudfunctionRoot": "cloud/functions/",
	"projectname": "go-to-fitness",
	"description": "go-to-fitness",
	"appid": "填写appid",
	"setting": {
		"urlCheck": false,
		"es6": true,
		"postcss": true,
		"minified": true,
		"newFeature": true,
		"nodeModules": true,
		"autoAudits": false,
		"uglifyFileName": true
	},
	"compileType": "miniprogram",
	"libVersion": "2.2.2",
	"simulatorType": "wechat",
	"simulatorPluginLibVersion": {},
	"condition": {}
}