.holiday {
    position: absolute;
    left: 4rpx;
    top: 4rpx;
    font-size: 21rpx;
    width: 28rpx;
    height: 28rpx;
    line-height: 28rpx;
    color: #fff;
    background-color: #ff0006;
    border-radius: 50%;
}

.no {
    color: #fff;
    background-color: #0067ff;
}